*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	/* Prevent adjustments of font size after orientation changes in iOS. */
	-webkit-text-size-adjust: 100%;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	/* The browser emphasizes rendering speed over legibility and geometric precision when drawing text. */
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

ul[class],
ol[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
	text-decoration-skip-ink: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

[type='search'] {
	/* Correct the odd appearance in Chrome and Safari. */
	-webkit-appearance: textfield;
	/* Correct the outline style in Safari. */
	outline-offset: -2px;
}

/* Remove the inner padding in Chrome and Safari on macOS. */
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
